{% extends "base.html" %}

{% block links %}
<li class="page-collection">
  <a href="{% url 'main_view' %}">Home</a>
</li>
<li class="page-collection active-link">
  <a href="{% url 'details_view' %}">Wedding</a>
</li>
<li class="page-collection">
  <a href="{% url 'travel_view' %}">Travel</a>
</li>
<li class="page-collection">
  <a href="{% url 'photo_view' %}">Photos</a>
</li>
<li class="page-collection">
  <a href="{% url 'registry_view' %}">Registry</a>
</li>
<li class="page-collection">
  <a href="{% url 'rsvp_view' %}">RSVP</a>
</li>
{% endblock %}

{% block content %}
<section style="opacity: 1;" id="page" class="clear" role="main" data-content-field="main-content" data-collection-id="53dbbcb1e4b067cbb1f60e31" data-edit-main-image="Banner">
  <div class="sqs-layout sqs-grid-12 columns-12" data-type="page" data-updated-on="1452722625325" id="page-53dbbcb1e4b067cbb1f60e31">

    <div class="row sqs-row">
      <img src="/static/img/phillipandbillie1.jpg" alt="Phillip and Billie" style='height: 100%; width: 100%; object-fit: contain'>
    </div>

    <div class="row sqs-row">
      <div class="col sqs-col-2 span-2">
        <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1" data-block-type="21" id="block-yui_3_17_2_1_1406913102698_275859">
          <div class="sqs-block-content">&nbsp;</div>
        </div>
      </div>
      <div class="col sqs-col-8 span-8">
        <div class="sqs-block horizontalrule-block sqs-block-horizontalrule" data-block-type="47" id="block-yui_3_17_2_1_1406913102698_129455">
          <div class="sqs-block-content">
            <hr>
          </div>
        </div>
        <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_1_1406913102698_132385">
          <div class="sqs-block-content">
            <h1 class="text-align-center">Ceremony:</h1>
            <h2 class="text-align-center">The wedding ceremony will be held at the Korean Bell of Friendship in San Pedro.
            This place holds a special place in our hearts; On our first date we watched the moon glisten over the ocean here, I later proposed and she said yes here, and now we will begin the rest of our lives together here.<br>
            So please join us here at 4 PM on Saturday, the 10th of December.<br>
            Dress formal, but prepare for cold wind as the site overlooks the Pacific Ocean.
            </h2>
          </div>
        </div>
        <div class="sqs-block horizontalrule-block sqs-block-horizontalrule" data-block-type="47" id="block-yui_3_17_2_1_1406913102698_129914">
          <div class="sqs-block-content">
            <hr>
          </div>
        </div>
        <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_1_1406913102698_210596">
          <div class="sqs-block-content">
            <h1 class="text-align-center">Reception:</h1>
            <h2 class="text-align-center">Following the wedding ceremony, we will have a reception with dinner and dancing at the Angel's Gate Cultural Center. It is a short walk (or a shorter drive) just up the hill from the bell. For maps and directions, please see the travel section.<br>
            We look forward to celebrating this momentous occasion with you.
            </h2>
          </div>
        </div>
        <div class="sqs-block spacer-block sqs-block-spacer" data-aspect-ratio="5.057471264367816" data-block-type="21" id="block-yui_3_17_2_1_1407273714484_50771">
          <div id="yui_3_17_2_1_1474224410875_150" style="padding-bottom: 5.05747%;" class="sqs-block-content sqs-intrinsic">&nbsp;</div>
        </div>
      </div>
      <div class="col sqs-col-2 span-2">
        <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1" data-block-type="21" id="block-yui_3_17_2_1_1406913102698_278275">
          <div class="sqs-block-content">&nbsp;</div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}