{% extends "base.html" %}

{% block content %}
<section style="opacity: 1;" id="page" class="clear" role="main" data-content-field="main-content" data-collection-id="53dbbcb1e4b067cbb1f60e31" data-edit-main-image="Banner">
  <div class="sqs-layout sqs-grid-12 columns-12" data-type="page" data-updated-on="1452722625325" id="page-53dbbcb1e4b067cbb1f60e31">

    <div class="row sqs-row">
      <img src="/static/img/main.jpg" alt="Phillip and Billie" style='height: 100%; width: 100%; object-fit: contain'>
    </div>

    <div class="row sqs-row">
      <div class="col sqs-col-2 span-2">
        <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1" data-block-type="21" id="block-yui_3_17_2_1_1406913102698_275859">
          <div class="sqs-block-content">&nbsp;</div>
        </div>
      </div>
      <div class="col sqs-col-8 span-8">
        <div class="sqs-block horizontalrule-block sqs-block-horizontalrule" data-block-type="47" id="block-yui_3_17_2_1_1406913102698_129455">
          <div class="sqs-block-content">
            <hr>
          </div>
        </div>
        <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_1_1406913102698_132385">
          <div class="sqs-block-content">
            <h3 class="text-align-center">Come celebrate our wedding</h3>
          </div>
        </div>
        <div class="sqs-block horizontalrule-block sqs-block-horizontalrule" data-block-type="47" id="block-yui_3_17_2_1_1406913102698_129455">
          <div class="sqs-block-content">
            <hr>
          </div>
        </div>
        <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-521fc2bfe4bcda771258">
          <div class="sqs-block-content">
            <h1 class="text-align-center">Phillip Stewart</h1>
            <h2 class="text-align-center">—&nbsp;<em>and</em>&nbsp;—</h2>
            <h1 class="text-align-center">Chavinee Chaisri</h1>
          </div>
        </div>
        <div class="sqs-block horizontalrule-block sqs-block-horizontalrule" data-block-type="47" id="block-yui_3_17_2_1_1406913102698_129914">
          <div class="sqs-block-content">
            <hr>
          </div>
        </div>
        <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_1_1406913102698_210596">
          <div class="sqs-block-content">
            <h3 class="text-align-center">Saturday, December 10, 2016</h3>
          </div>
        </div>
        <div class="sqs-block spacer-block sqs-block-spacer" data-aspect-ratio="5.057471264367816" data-block-type="21" id="block-yui_3_17_2_1_1407273714484_50771">
          <div id="yui_3_17_2_1_1474224410875_150" style="padding-bottom: 5.05747%;" class="sqs-block-content sqs-intrinsic">&nbsp;</div>
        </div>
        <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_1_1407273714484_50873">
          <div class="sqs-block-content">
            <h2 class="text-align-center">Phillip and Billie joyfully request the pleasure of your company as we speak our 
              vows and join in marriage in the presence of family and friends.
              </a>
            </h2>
          </div>
        </div>
        <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1" data-block-type="21" id="block-yui_3_17_2_1_1407277285300_27898">
          <div class="sqs-block-content">&nbsp;</div>
        </div>
      </div>
      <div class="col sqs-col-2 span-2">
        <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1" data-block-type="21" id="block-yui_3_17_2_1_1406913102698_278275">
          <div class="sqs-block-content">&nbsp;</div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}