{% extends "base.html" %}

{% block links %}
<li class="page-collection">
  <a href="{% url 'main_view' %}">Home</a>
</li>
<li class="page-collection">
  <a href="{% url 'details_view' %}">Wedding</a>
</li>
<li class="page-collection">
  <a href="{% url 'travel_view' %}">Travel</a>
</li>
<li class="page-collection active-link">
  <a href="{% url 'photo_view' %}">Photos</a>
</li>
<li class="page-collection">
  <a href="{% url 'registry_view' %}">Registry</a>
</li>
<li class="page-collection">
  <a href="{% url 'rsvp_view' %}">RSVP</a>
</li>
{% endblock %}


{% block content %}
<section style="opacity: 1;" id="page" class="clear" role="main" data-content-field="main-content" data-collection-id="53dbbcb1e4b067cbb1f60e31" data-edit-main-image="Banner">
  <div class="sqs-layout sqs-grid-12 columns-12" data-type="page" data-updated-on="1452722625325" id="page-53dbbcb1e4b067cbb1f60e31">

<div class="row sqs-row">
  <img src="/static/img/phillipandbillie5.jpg" alt="Phillip and Billie" style='height: 100%; width: 100%; object-fit: contain'>
</div>
<div class="row sqs-row">
	<div class="col sqs-col-6 span-6">
		<div class="sqs-block html-block sqs-block-html" data-block-type="21">
			<div class="sqs-block-content">
<h3 class="text-align-center">Hi, I'm Phillip Stewart.<br>I'm from Corona, California</h3>
			</div>
		</div>
	</div>
	<div class="col sqs-col-6 span-6">
		<div class="sqs-block html-block sqs-block-html" data-block-type="21">
			<div class="sqs-block-content">
<h3 class="text-align-center">Hi, I'm Chavinee Chaisri<br>(but you can call me Billie).<br>I'm from Bangkok, Thailand.</h3>
			</div>
		</div>
	</div>
</div>
<div class="row sqs-row">
  <div class="col sqs-col-2 span-2">
    <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1" data-block-type="21">
      <div class="sqs-block-content">&nbsp;</div>
    </div>
  </div>
  <div class="col sqs-col-8 span-8">
    <div class="sqs-block horizontalrule-block sqs-block-horizontalrule" data-block-type="47">
      <div class="sqs-block-content">
        <hr>
      </div>
    </div>
  </div>
</div>

<div class="row sqs-row">
  <img src="/static/img/phillipandbillie6.jpg" alt="Phillip and Billie" style='height: 100%; width: 100%; object-fit: contain'>
</div>
<div class="row sqs-row">
	<div class="sqs-block html-block sqs-block-html" data-block-type="21">
		<div class="sqs-block-content">
<h3 class="text-align-center">We met in a summer class at Cal State Fullerton, studying computer science.</h3>
		</div>
	</div>
</div>
<div class="row sqs-row">
  <div class="col sqs-col-2 span-2">
    <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1" data-block-type="21">
      <div class="sqs-block-content">&nbsp;</div>
    </div>
  </div>
  <div class="col sqs-col-8 span-8">
    <div class="sqs-block horizontalrule-block sqs-block-horizontalrule" data-block-type="47">
      <div class="sqs-block-content">
        <hr>
      </div>
    </div>
  </div>
</div>

<div class="row sqs-row">
  <img src="/static/img/phillipandbillie8.jpg" alt="Phillip and Billie" style='height: 100%; width: 100%; object-fit: contain'>
</div>
<div class="row sqs-row">
	<div class="sqs-block html-block sqs-block-html" data-block-type="21">
		<div class="sqs-block-content">
<h3 class="text-align-center">Billie made the first move, and asked me out on a lunch-date. We dated over the next few weeks, going out to classic California hangouts such as Disneyland, the beach, and In-n-out.</h3>
		</div>
	</div>
</div>
<div class="row sqs-row">
  <div class="col sqs-col-2 span-2">
    <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1" data-block-type="21">
      <div class="sqs-block-content">&nbsp;</div>
    </div>
  </div>
  <div class="col sqs-col-8 span-8">
    <div class="sqs-block horizontalrule-block sqs-block-horizontalrule" data-block-type="47">
      <div class="sqs-block-content">
        <hr>
      </div>
    </div>
  </div>
</div>

<div class="row sqs-row">
  <img src="/static/img/phillipandbillie9.jpg" alt="Phillip and Billie" style='height: 100%; width: 100%; object-fit: contain'>
</div>
<div class="row sqs-row">
	<div class="sqs-block html-block sqs-block-html" data-block-type="21">
		<div class="sqs-block-content">
<h3 class="text-align-center">After the summer class ended, Billie flew back to Thailand. We were half a world away, but still texted eachother morning and night.</h3>
		</div>
	</div>
</div>
<div class="row sqs-row">
  <div class="col sqs-col-2 span-2">
    <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1" data-block-type="21">
      <div class="sqs-block-content">&nbsp;</div>
    </div>
  </div>
  <div class="col sqs-col-8 span-8">
    <div class="sqs-block horizontalrule-block sqs-block-horizontalrule" data-block-type="47">
      <div class="sqs-block-content">
        <hr>
      </div>
    </div>
  </div>
</div>

<div class="row sqs-row">
  <img src="/static/img/phillipandbillie10.jpg" alt="Phillip and Billie" style='height: 100%; width: 100%; object-fit: contain'>
</div>
<div class="row sqs-row">
	<div class="sqs-block html-block sqs-block-html" data-block-type="21">
		<div class="sqs-block-content">
<h3 class="text-align-center">She came back and I asked her to be my girlfriend. We fell in love, and I knew that I wanted to marry her and share the rest of my life with her.</h3>
		</div>
	</div>
</div>
<div class="row sqs-row">
  <div class="col sqs-col-2 span-2">
    <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1" data-block-type="21">
      <div class="sqs-block-content">&nbsp;</div>
    </div>
  </div>
  <div class="col sqs-col-8 span-8">
    <div class="sqs-block horizontalrule-block sqs-block-horizontalrule" data-block-type="47">
      <div class="sqs-block-content">
        <hr>
      </div>
    </div>
  </div>
</div>

<div class="row sqs-row">
  <img src="/static/img/phillipandbillie11.jpg" alt="Phillip and Billie" style='height: 100%; width: 100%; object-fit: contain'>
</div>
<div class="row sqs-row">
  <img src="/static/img/phillipandbillie12.jpg" alt="Phillip and Billie" style='height: 100%; width: 100%; object-fit: contain'>
</div>
<div class="row sqs-row">
	<div class="sqs-block html-block sqs-block-html" data-block-type="21">
		<div class="sqs-block-content">
<h3 class="text-align-center">We celebrated Christmas, New Years, Valentines day, Independence day, Thanksgiving, and Christmas again, and every day between together. We went camping, took a vacation in Hawaii, drove halfway across the country to visit family...</h3>
		</div>
	</div>
</div>
<div class="row sqs-row">
  <div class="col sqs-col-2 span-2">
    <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1" data-block-type="21">
      <div class="sqs-block-content">&nbsp;</div>
    </div>
  </div>
  <div class="col sqs-col-8 span-8">
    <div class="sqs-block horizontalrule-block sqs-block-horizontalrule" data-block-type="47">
      <div class="sqs-block-content">
        <hr>
      </div>
    </div>
  </div>
</div>

<div class="row sqs-row">
  <img src="/static/img/phillipandbillie13.jpg" alt="Phillip and Billie" style='height: 100%; width: 100%; object-fit: contain'>
</div>
<div class="row sqs-row">
  <img src="/static/img/phillipandbillie14.jpg" alt="Phillip and Billie" style='height: 100%; width: 100%; object-fit: contain'>
</div>
<div class="row sqs-row">
	<div class="sqs-block html-block sqs-block-html" data-block-type="21">
		<div class="sqs-block-content">
<h3 class="text-align-center">I brought her back to the Korean Friendship Bell where we first kissed, and I asked her to marry me. She said yes, and we can't wait to see you at our wedding.</h3>
		</div>
	</div>
</div>
<div class="row sqs-row">
  <div class="col sqs-col-2 span-2">
    <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1" data-block-type="21">
      <div class="sqs-block-content">&nbsp;</div>
    </div>
  </div>
  <div class="col sqs-col-8 span-8">
    <div class="sqs-block horizontalrule-block sqs-block-horizontalrule" data-block-type="47">
      <div class="sqs-block-content">
        <hr>
      </div>
    </div>
  </div>
</div>
<div class="row sqs-row">
	<div class="sqs-block html-block sqs-block-html" data-block-type="21">
		<div class="sqs-block-content">
<h3 class="text-align-center">Thanks for reading our story.</h3>
		</div>
	</div>
</div>
<div class="row sqs-row">
  <div class="col sqs-col-2 span-2">
    <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1" data-block-type="21">
      <div class="sqs-block-content">&nbsp;</div>
    </div>
  </div>
  <div class="col sqs-col-8 span-8">
    <div class="sqs-block horizontalrule-block sqs-block-horizontalrule" data-block-type="47">
      <div class="sqs-block-content">
        <hr>
      </div>
    </div>
  </div>
</div>

<div class="row sqs-row">
  <img src="/static/img/phillipandbillie15.jpg" alt="Phillip and Billie" style='height: 100%; width: 100%; object-fit: contain'>
</div>

  </div>
</section>
{% endblock %}