{% extends "base.html" %}

{% block content %}
<section style="opacity: 1;" id="page" class="clear" role="main" data-content-field="main-content" data-collection-id="53dbbcb1e4b067cbb1f60e31" data-edit-main-image="Banner">
  <div class="sqs-layout sqs-grid-12 columns-12" data-type="page" data-updated-on="1452722625325" id="page-53dbbcb1e4b067cbb1f60e31">
    <div class="row sqs-row">
      <img src="/static/img/phillipandbillie3.jpg" alt="Phillip and Billie" style='height: 100%; width: 100%; object-fit: contain'>
    </div>
    <div class="row sqs-row">
      <div class="col sqs-col-2 span-2">
        <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1" data-block-type="21" id="block-yui_3_17_2_1_1406913102698_275859">
          <div class="sqs-block-content">&nbsp;</div>
        </div>
      </div>
      <div class="col sqs-col-8 span-8">
        <div class="sqs-block horizontalrule-block sqs-block-horizontalrule" data-block-type="47" id="block-yui_3_17_2_1_1406913102698_129455">
          <div class="sqs-block-content">
            <hr>
          </div>
        </div>
        <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_1_1406913102698_132385">
          <div class="sqs-block-content">
            <h3 class="text-align-center">We have a registry on amazon... feel free to ...</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}