{% extends "base.html" %}

{% block links %}
<li class="page-collection">
  <a href="{% url 'main_view' %}">Home</a>
</li>
<li class="page-collection">
  <a href="{% url 'details_view' %}">Wedding</a>
</li>
<li class="page-collection">
  <a href="{% url 'travel_view' %}">Travel</a>
</li>
<li class="page-collection">
  <a href="{% url 'photo_view' %}">Photos</a>
</li>
<li class="page-collection">
  <a href="{% url 'registry_view' %}">Registry</a>
</li>
<li class="page-collection active-link">
  <a href="{% url 'rsvp_view' %}">RSVP</a>
</li>
{% endblock %}

{% block content %}
<section style="opacity: 1;" id="page" class="clear" role="main" data-content-field="main-content" data-collection-id="53dbbcb1e4b067cbb1f60e31" data-edit-main-image="Banner">
	<div class="sqs-layout sqs-grid-12 columns-12" data-type="page" data-updated-on="1452722625325" id="page-53dbbcb1e4b067cbb1f60e31">
{% if post_success %}
<div class="row sqs-row">
	<div class="col sqs-col-12 span-12">
		<div class="sqs-block html-block sqs-block-html" data-block-type="2">
			<div class="sqs-block-content">
				<h1 class="text-align-center">Your response has been saved. Thank You.</h1>
			</div>
		</div>
	</div>
</div>
{% endif %}
		<div class="row sqs-row">
			<img src="/static/img/phillipandbillie4.jpg" alt="Phillip and Billie" style='height: 100%; width: 100%; object-fit: contain'>
		</div>
		<div class="row sqs-row">
			<div class="col sqs-col-2 span-2">
				<div class="sqs-block spacer-block sqs-block-spacer sized vsize-1" data-block-type="21">
					<div class="sqs-block-content">&nbsp;</div>
				</div>
			</div>
			<div class="col sqs-col-8 span-8">
				<div class="sqs-block html-block sqs-block-html" data-block-type="2">
					<div class="sqs-block-content">
						<h2 class="text-align-center">Please RSVP by November 1, 2016</h2>
					</div>
				</div>
			</div>
			<div class="row sqs-row">
				<div class="sqs-block horizontalrule-block sqs-block-horizontalrule" data-block-type="47">
					<div class="sqs-block-content">
						<hr>
					</div>
				</div>
				<div class="sqs-block form-block sqs-block-form">
					<div class="sqs-block-content">
						<div class="form-wrapper">
							<div class="form-inner-wrapper">
								<form class="form" autocomplete="on" action="{% url 'rsvp_post' %}" method="POST" id="rsvp_form">
{% csrf_token %}
{{ formset.management_form }}

{% for form in formset %}
<div class="field-list clear" id="form_part{{forloop.counter}}" {% if forloop.counter > 1 %}style="display: none;"{% endif %}>
<fieldset id="name{{forloop.counter}}" class="form-item fields">
	<div class="inline row sqs-row" {% if forloop.counter > 1 %}style="display: none;"{% endif %}>
		<div class="col sqs-col-1 span-1">
			<div class="sqs-block spacer-block sqs-block-spacer sized vsize-1" data-block-type="21">
				<div class="sqs-block-content">&nbsp;</div>
			</div>
		</div>
		<div class="col sqs-col-7 span-7">
			<div class="sqs-block html-block sqs-block-html" data-block-type="2">
				<div class="sqs-block-content">
					<label class="caption field">Attending?&nbsp;&nbsp;&nbsp;&nbsp;</label> 
					{{ form.attending }}
				</div>
			</div>
		</div>
	</div>
	<div class="inline row sqs-row">
		<div class="sqs-block horizontalrule-block sqs-block-horizontalrule" data-block-type="47">
			<div class="sqs-block-content">
				<hr>
			</div>
		</div>
		<div class="col sqs-col-1 span-1">
			<div class="sqs-block spacer-block sqs-block-spacer sized vsize-1" data-block-type="21">
				<div class="sqs-block-content">&nbsp;</div>
			</div>
		</div>
		<div class="col sqs-col-9 span-9">
			<div class="sqs-block html-block sqs-block-html" data-block-type="2">
				<div class="sqs-block-content">
					<label class="caption field">{{ form.title }}</label>
					<label class="caption field"> First Name: {{ form.first_name }}</label>
					<label class="caption field"> Last Name: {{ form.last_name }}</label>
				</div>
			</div>
		</div>
{% if forloop.counter > 1 %}
		<div class="col sqs-col-2 span-2" id="minus{{forloop.counter}}" style="display: none;">
			<div class="sqs-block html-block sqs-block-html" data-block-type="2">
				<div class="sqs-block-content">
					<div class="form-button-wrapper form-button-wrapper--align-right">
	<button type="button" class="button sqs-system-button sqs-editable-button" value="Remove" style="padding: 0.5em 1.5em;" onclick="hide();">Remove</button>
					</div>
				</div>
			</div>
		</div>
{% endif %}
	</div>
	<div class="inline row sqs-row">
		<div class="col sqs-col-3 span-3">
			<div class="sqs-block spacer-block sqs-block-spacer sized vsize-1" data-block-type="21">
				<div class="sqs-block-content">&nbsp;</div>
			</div>
		</div>
		<div class="col sqs-col-8 span-8">
			<div class="sqs-block html-block sqs-block-html" data-block-type="2">
				<div class="sqs-block-content">
					<label class="caption field">Preferred meal:{{ form.meal }}</label>
				</div>
			</div>
		</div>
	</div>
</fieldset>
{% if forloop.counter < 6 %}
	<div class="inline row sqs-row" id="plus{{forloop.counter}}">
		<div class="col sqs-col-8 span-8">
			<div class="sqs-block spacer-block sqs-block-spacer sized vsize-1" data-block-type="21">
				<div class="sqs-block-content">&nbsp;</div>
			</div>
		</div>
		<div class="col sqs-col-4 span-4">
			<div class="sqs-block html-block sqs-block-html" data-block-type="2">
				<div class="sqs-block-content">
					<div class="form-button-wrapper form-button-wrapper--align-right">
	<button type="button" class="button sqs-system-button sqs-editable-button" value="+1" onclick="addInput();">+1</button>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endif %}
</div>
{% for hidden in form.hidden_fields %}
    {{ hidden }}
{% endfor %}
{% endfor %}
									<div class="form-button-wrapper form-button-wrapper--align-center">
										<input class="button sqs-system-button sqs-editable-button" value="RSVP" type="submit">
									</div>
								</form>
							</div>
						</div>
					</div>
					<div class="col sqs-col-2 span-2">
						<div class="sqs-block spacer-block sqs-block-spacer sized vsize-1" data-block-type="21" id="block-yui_3_17_2_1_1406913102698_278275">
							<div class="sqs-block-content">&nbsp;</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}

{% block footer_js %}
<script type="text/javascript">
function none(a){var b=document.getElementById(a);null!=b&&(b.style.display="none")}function block(a){console.log(a);var b=document.getElementById(a);null!=b&&(b.style.display="block")}function addInput(){6!=nv&&(none("plus"+nv),none("minus"+nv),++nv,block("plus"+nv),block("minus"+nv),block("form_part"+nv))}function hide(){var a=document.getElementById("form_part"+nv);a.style.display="none",none("plus"+nv),none("minus"+nv),--nv,document.getElementById("id_form-"+nv+"-first_name").value="",document.getElementById("id_form-"+nv+"-last_name").value="",block("plus"+nv),block("minus"+nv)}var nv=1;
</script>
{% endblock %}