{% extends "base.html" %}

{% block links %}
<li class="page-collection">
  <a href="{% url 'main_view' %}">Home</a>
</li>
<li class="page-collection">
  <a href="{% url 'details_view' %}">Wedding</a>
</li>
<li class="page-collection active-link">
  <a href="{% url 'travel_view' %}">Travel</a>
</li>
<li class="page-collection">
  <a href="{% url 'photo_view' %}">Photos</a>
</li>
<li class="page-collection">
  <a href="{% url 'registry_view' %}">Registry</a>
</li>
<li class="page-collection">
  <a href="{% url 'rsvp_view' %}">RSVP</a>
</li>
{% endblock %}

{% block content %}
<section style="opacity: 1;" id="page" class="clear" role="main" data-content-field="main-content" data-collection-id="53dbbcb1e4b067cbb1f60e31" data-edit-main-image="Banner">
  <div class="sqs-layout sqs-grid-12 columns-12" data-type="page" data-updated-on="1452722625325" id="page-53dbbcb1e4b067cbb1f60e31">

    <div class="row sqs-row">
      <img src="/static/img/phillipandbillie2.jpg" alt="Phillip and Billie" style='height: 100%; width: 100%; object-fit: contain'>
    </div>

    <div class="row sqs-row">
      <div class="col sqs-col-2 span-2">
        <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1" data-block-type="21" id="block-yui_3_17_2_1_1406913102698_275859">
          <div class="sqs-block-content">&nbsp;</div>
        </div>
      </div>
      <div class="col sqs-col-8 span-8">
        <div class="sqs-block horizontalrule-block sqs-block-horizontalrule" data-block-type="47" id="block-yui_3_17_2_1_1406913102698_129455">
          <div class="sqs-block-content">
            <hr>
          </div>
        </div>
        <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-521fc2bfe4bcda771258">
          <div class="sqs-block-content">
            <h1 class="text-align-center"><a href="https://www.google.com/maps/place/Korean+Friendship+Bell/" target="_blank">Link to Google Maps &#8599;</a></h1>
          </div>
        </div>
        <div class="sqs-block horizontalrule-block sqs-block-horizontalrule" data-block-type="47" id="block-yui_3_17_2_1_1406913102698_129455">
          <div class="sqs-block-content">
            <hr>
          </div>
        </div>
        <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_1_1406913102698_132385">
          <div class="sqs-block-content">
            <h1 class="text-align-center">Local directions:</h1>
            <h2 class="text-align-center">From Gaffey street you can turn right onto Leavenworth drive and then left into the main parking lot, or take the next right directly into the main parking lot. The ceremony will be held on the south side of the Bell.</h2>
            <h2 class="text-align-center">The reception will be held at the Angel's Gate Cultural Center, Bldg H. To get there from the main parking lot, take the back exit and turn left up Leary Merriam road, then turn left at the fork and stay left until you pass Bldg H.
            The parking lot for the reception is a dirt and gravel lot on the west side of Bldg H.</h2>
            <h3 class="text-align-center"><a href="/static/img/Map.pdf" target="_blank">Parking and Walking Directions (pdf)</a></h3>
          </div>
        </div>
        <div class="sqs-block horizontalrule-block sqs-block-horizontalrule" data-block-type="47" id="block-yui_3_17_2_1_1406913102698_129914">
          <div class="sqs-block-content">
            <hr>
          </div>
        </div>
        <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_1_1406913102698_210596">
          <div class="sqs-block-content">
            <h1 class="text-align-center">Lodging:</h1>
            <h2 class="text-align-center">If you are travelling from out of town and need help finding a place to stay, please <a href="mailto:phillipwstewart@gmail.com">contact us</a> and let us know.</h2>
          </div>
        </div>
        
        <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1" data-block-type="21" id="block-yui_3_17_2_1_1407277285300_27898">
          <div class="sqs-block-content">&nbsp;</div>
        </div>
      </div>
      <div class="col sqs-col-2 span-2">
        <div class="sqs-block spacer-block sqs-block-spacer sized vsize-1" data-block-type="21" id="block-yui_3_17_2_1_1406913102698_278275">
          <div class="sqs-block-content">&nbsp;</div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
